<div class="card" style="background-color: #e1484f">
  <div class="card-content white-text">
    <span class="card-title"> Siblings </span>
    <% if @student.family.students.size <= 1 %>
    <p>No siblings at this time</p>
    <% else %>
      <table>
        <thead>
          <th>Student</th>
          <th>Registered Camps</th>
          <th>Next Camp</th>
        </thead>
          <% if @student.family.students.size == 1 %>
            <%= "Student has no siblings" %> 
          <% else %>
            <% for student in @student.family.students.alphabetical %>
              <% if student != @student %>
              <tr>
                <td><%= link_to student.proper_name, student_path(student) %></td>
                <td><%= link_to student.registrations.size, student_path(student) %></td>
                <% if student.camps.upcoming.size == 0 %>
                  <td align="justify">N/A</td>
                <% else %>
                  <td>&nbsp;
                  <%= link_to student.camps.upcoming.first.start_date.strftime("%m/%d/%y"), camp_path(student.camps.upcoming.first) %>
                  </td>
                <% end %>
              </tr>
              <% end %>
            <% end %>
          <% end %>
      </table>
    <% end %>
  </div>
</div>
