<div id="form-template">
  <!-- create an empty registration object to work with -->
  <% @registration = Registration.new %>
  <!-- now the form template itself -->
  <% @student = nil %> 
  <div class="row">
    <div class="col">
      <h5>Add Student:</h5>
      
      <% if current_user.role == "parent" %>
        <%= render partial: "form_for_parent" %>
      <% end %>
      
      <% if current_user.role == "admin" %>
        <%= render partial: "form_for_admin" %>
      <% end %>
      
    </div>
  </div>
</div>