<div class="col s12">
  <div class="card indigo lighten-2">
    <div class="card-content white-text">
      <span class="card-title">Registered Students</span>
      <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Rating</th>
        </tr>
      </thead>

      <tbody>
         <% @registrations.alphabetical.each do |r| %>
          <tr>
            <% if can? :read, r.student %>
                <td><%= link_to r.student.proper_name, student_path(r.student) %></td>
            <% else %>
            <td><%= r.student.proper_name %></td>
            <% end %>
            <td><%= r.student.rating %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if can? :create, Registration %>
      <div class="card-action" style="red">
        <%= link_to "Add a new student", new_registration_path(camp_id: @camp.id) %>
    <% end %>
    </div>
  </div>
</div>
</div>