<div class="col s12">
<div class="card" style="background-color: #e1484f">
  <div class="card-content white-text">
    <span class="card-title">Camp Instructors</span>
	  <% if @instructors.empty? %>
		<p>No instructors at this time</p>
	  <% else %>
      <ul>
        <% @instructors.alphabetical.each do |i| %>
          <li>
            <%= link_to i.proper_name, instructor_path(i) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    </div>
  </div>
</div>


