<div id="assignments">
  <%= hidden_field_tag "camp_id", @camp.id %>
  <div class="card indigo lighten-2">
    <div class="card-content white-text">
      <span class="card-title">Camp Instructors</span>
      <p v-model="camp_id"> "The camp id is #{ camp_id }" </p>
  	  <% if @instructors.empty? %>
  		<p>No instructors at this time</p>
  	  <% else %>
        <ul>
<!--VUE STUFF-->
        </ul>
      <% end %>
      <% if can? :create, Instructor %>
      <div class="card-action">
        <%= link_to "Add a new instructor", "#" %>
      <% end %>
      </div>
    </div>
  </div>

</div>

