<section class="intro">
  <div id="particles-js">
  <div class="centered-title-container"><h1>The Future of Chess Education</h1></div>
  </div>
</section>



     <!-- Features -->
     <div id="features" class="scrollspy">
      <div class="row mb-0">
        <div class="col s12 center pb-7 grey lighten-3">
         <h4 class="mt-7 font-weight-900">Trust us with your Kids</h4>         
         <div class="col s12 m6 l4">
          <div class="card border-radius-6 min-height-250 red z-depth-3">
            <div class="card-content center vertical-align-center white blue-grey-text text-darken-3 mt-3 pt-4">
              <h3 class="lighten-4 mt-0 mb-0 pt-1">Integrity</h3>
              <h5 class="lighten-4">We're the good guys</h5>
              <p class="lighten-4 mb-4">This ain't no hoo-hah fat loss camp! This is chess camp! This is war! Get ready for EXTREME chess.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card border-radius-6 min-height-250 blue z-depth-3">
            <div class="card-content center vertical-align-center white blue-grey-text text-darken-3 mt-3 pt-2">
              <i class="material-icons lighten-4 pt-1">menu</i>
              <h5 class="lighten-4">Endless Choices</h5>
              <p class="lighten-4 mb-4">This is where we sell you something our marketing department had their intern whip up. Please buy it!</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card border-radius-6 min-height-250 purple z-depth-3">
            <div class="card-content center vertical-align-center white blue-grey-text text-darken-3 mt-3 pt-2">
              <i class="material-icons lighten-4 pt-1">content_copy</i>
              <h5 class="lighten-4">Options</h5>
              <p class="lighten-4 mb-4">With over 40 different Klingon curriculums, your child is sure to pilot a Starfleet vehicle at some point!</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card border-radius-6 min-height-250 indigo z-depth-3">
            <div class="card-content center vertical-align-center white blue-grey-text text-darken-3 mt-3 pt-2">
              <i class="material-icons lighten-4 pt-1">timeline</i>
              <h5 class="lighten-4">Analytics</h5>
              <p class="lighten-4 mb-4">With the highest degree of specificity, we track your child's every move! We know everything, and so do you!</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card border-radius-6 min-height-250 cyan z-depth-3">
            <div class="card-content center vertical-align-center white blue-grey-text text-darken-3 mt-3 pt-2">
              <i class="material-icons lighten-4 pt-1">settings</i>
              <h5 class="lighten-4">We'll reset your kids</h5>
              <p class="lighten-4 mb-4">Tommy is a rascal, but that's ok. We'll set Tommy straight, don't you worry, Tommy's mom. Tommy's gonna learn today!</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card border-radius-6 min-height-250 teal z-depth-3">
            <div class="card-content center vertical-align-center white blue-grey-text text-darken-3 mt-3 pt-2">
              <i class="material-icons md-icon lighten-4 pt-1">book</i>
              <h5 class="lighten-4">Detailed Documentation</h5>
              <p class="lighten-4 mb-4">We have provided detailed documentation for using your child after chess camp, as their minds will almost certainly be turned to mush!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features End -->
