<section class="hero is-info welcome is-small">
    <div class="container-large">
      <h1 class="title center">
        <%= "Hello, #{current_user.instructor.proper_name}" %>
      </h1>
    </div>
</section>