  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://www.artsfon.com/pic/201608/1920x1080/artsfon.com-86024.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Chess Excellence</h3>
          <h5 class="light grey-text text-lighten-3">Meets affordability.</h5>
        </div>
      </li>
      <li>
        <img src="https://timedotcom.files.wordpress.com/2015/02/karsparov.jpeg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Decades of skill</h3>
          <h5 class="light grey-text text-lighten-3">Abstracted into just weeks.</h5>
        </div>
      </li>
      <li>
        <img src="https://chess-teacher.com/wp-content/uploads/2017/06/aronian-vs-carlsen-norway-chess-2017.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Meet your match</h3>
          <h5 class="light grey-text text-lighten-3">Compete against skilled opponents</h5>
        </div>
      </li>
      <li>
        <img src="http://kidchess.com/new/wp-content/uploads/2014/10/galleries-01-1050x630.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Grow your skills!</h3>
          <h5 class="light grey-text text-lighten-3">Hone your craft.</h5>
        </div>
      </li>
    </ul>
  </div>
  
</br></br>
  
<div class="card" style="background-color:#6513df">
  <div class="card-content white-text">
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <h1 class="header center wide">Alex and Mark's Chess Camps</h1>
          <div class="row center">
            <a href="<%= new_family_path %>" id="download-button" class="btn pulse waves-effect waves-light gradient-45deg-red-pink mt-2 btn-large z-depth-2">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">library_books</i></h2>
            <h5 class="center">Curriculum Variety</h5>

            <p class="light" align="center">Every student is individual - the diverse curriculums at A&M chess camps offer a breadth of material, for beginners and experts alike.</p>
          </div>
        </div>

        <div class="col s12">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Experienced Staff</h5>

            <p class="light" align="center">A&M instructors are USCF certified professionals, with top-notch chess skills, with copious experience teaching students of all ages.</p>
          </div>
        </div>

        <div class="col s12">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Advanced Metrics</h5>

            <p class="light" align="center">With personalized analytics for every student, your parent account enables you to see points earned, progress over time, and keep tabs on enrollments.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
 