/********** FORMS ********/
.switch label input[type=checkbox]:checked + .lever {
  background-color: #2979ff;
}

.switch label input[type=checkbox]:checked + .lever::after {
  background-color: #303F9F;
}

li.no_bullet {
  list-style-type: none;
}

/********** CARDS ********/
.card a {
  color: #e0f7fa;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #e0f7fa;
}

.card .remove {
  color: #b71c1c;
}

/********** BUTTONS ********/
.btn-alert {
  background-color: #c62828;
  color: #fff;
}
.btn-alert:hover {
  background-color: #e53935;
  color: #fff;
}

div.card-container {
  height: 200px;
  line-height: 200px;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0 24px;
}

.card-container img.card-cover-img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

span.card-text-container {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: 2rem;
}

@media only screen and (min-width: 993px){
nav a.button-collapse {
    display: block;
}
}